#para1{
	color:red;
	text-align:center;
	font-size;500%
      }
h1{
	color:blue;
	font-size:200%
	text-align:right;
	background-color:#6495red;
  }
#para{
	color:green;
	text-align:center;
	font-size;500%
      }
p{
border:1px solid balck;
padding:10px;
margin:30px;
background-color:#e0ffff;
}

body{
     background-image:url("opr.jpeg")
    }

div{
	text-decoration:overline;
	font-size:200%
   }
